[Desktop Entry]
Version=1.0
Name=swm Session
Name[ar]=جلسة إكسفس
Name[bg]=swm сесия
Name[ca]=Sessió swm
Name[cs]=Relace prostředí swm
Name[da]=Session til swm
Name[de]=swm-Sitzung
Name[el]=Συνεδρία swm
Name[en_GB]=swm Session
Name[es]=Sesión de swm
Name[eu]=swm saioa
Name[fi]=swm-istunto
Name[fr]=Session swm
Name[gl]=Sesión de swm
Name[hr]=swm sesija
Name[hu]=swm munkamenet
Name[id]=Sesi swm
Name[is]=swm seta
Name[it]=Sessione di swm
Name[ja]=swm セッション
Name[kk]=swm сессиясы
Name[ko]=swm 세션
Name[lt]=swm seansas
Name[nl]=swm-sessie
Name[nn]=swm-økt
Name[pl]=swm
Name[pt]=Sessão swm
Name[pt_BR]=Sessão do swm
Name[ro]=Sesiune swm
Name[ru]=Сеанс
Name[sk]=Sedenie swm
Name[sr]=ИксФЦЕ сесија
Name[sv]=swm Session
Name[te]=swm సెషన్
Name[tr]=swm Oturumu
Name[ug]=swm ئەڭگىمەسى
Name[uk]=Сеанс swm
Name[zh_CN]=swm 会话
Name[zh_TW]=swm 工作階段
Comment=Use this session to run swm as your desktop environment
Comment[ar]=إستعمل هذه الجلسة لتشغيل إكسفس كسطح مكتب
Comment[bg]=Използвайте тази сесия за стартиране на swm като вашата графична среда
Comment[ca]=Empra aquesta sessió per executar l'swm com el vostre entorn d'escriptori
Comment[cs]=Použít tuto relaci ke spuštění swm jako vašeho pracovního prostředí
Comment[da]=Brug denne session til at køre swm som dit skrivebord
Comment[de]=Wählen Sie diese Sitzung, um swm als Ihre Arbeitsumgebung auszuführen
Comment[el]=Χρήση αυτής της συνεδρία για εκτέλεση του swm ως περιβάλλον εργασίας
Comment[en_GB]=Use this session to run swm as your desktop environment
Comment[es]=Use esta sesión para ejecutar swm como su entorno de escritorio
Comment[eu]=Erabili saio hau swm mahaigain ingurune gisa exekutatzeko.
Comment[fi]=Valitse tämä istunto käyttääksesi swm-työpöytäympäristöä 
Comment[fr]=Utilisez cette session pour exécuter swm comme environnement de bureau
Comment[hr]=Koristite ovu sesiju da bi pokrenuli swm kao vaše radno okruženje
Comment[hu]=Használja ezt a munkamenetet az swm futtatásához asztali környezetként
Comment[id]=Gunakan sesi ini untuk menjalankan swm sebagai lingkungan desktop anda
Comment[it]=Usare questa sessione per avviare swm come ambiente grafico
Comment[ja]=swm をデスクトップ環境として起動するためにこのセッションを使用します
Comment[kk]=Бұл сессияны негізгі жұмыс үстел ортасы ретінде swm-ні қолдану үшін қолданыңыз
Comment[ko]=데스크톱 환경으로서 swm를 실행하기 위해 이 세션을 사용합니다
Comment[lt]=Naudoti šį seansą, kad swm būtų naudojama kaip jūsų darbastalio aplinka
Comment[nl]=Gebruik deze sessie om swm te draaien als uw werkomgeving
Comment[nn]=Bruk denne økta for å køyra swm som skrivebordsmiljø
Comment[pl]=Uruchamia sesję środowiska graficznego swm
Comment[pt]=Utilizar esta sessão para executar o swm como ambiente de trabalho
Comment[pt_BR]=Usar esta sessão para executar o swm como seu ambiente de trabalho
Comment[ro]=Utilizați această sesiunea pentru a inițializa mediul desktop swm
Comment[ru]=Используйте этот сеанс, чтобы сделать swm вашим окружением
Comment[sk]=Použite toto sedenie pre spustenie swm ako vášho pracovného prostredia
Comment[sr]=Користите ову сесију да покренете ИксФЦЕ као ваше радно окружење
Comment[sv]=Använd denna session för att köra swm som din skrivbordsmiljö
Comment[tr]=swm'yi masaüstü ortamınız olarak kullanmak için bu oturumu kullanın
Comment[ug]=مەزكۇر ئەڭگىمەدە ئۈستەلئۈستى ئۈچۈن swm ئىشلىتىلىدۇ
Comment[uk]=Використайте цей сеанс для запуску swm як Вашого типого середовища.
Comment[zh_CN]=使用此会话将 swm 作为您的桌面环境运行
Comment[zh_TW]=使用這個工作階段來執行 swm 作為您的桌面環境
Exec=swm
Icon=
Type=Application
DesktopNames=swm
